@import 'style-constants';

@media screen and (max-width: $application-smartphone-size) {
  .element {
    flex: 1 1 100%;
  }
}
.element {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: $doubled-margin;
}