@import 'style-constants';
$left-column-input-height: 40px;
$input-wrapper-min-width: 220px;

input {
  border-color: $white-color;
  border-style: none;
  flex-grow: 3;
  font-size: $application-fonts-size;
  max-height: $input-size;
  font-family: $application-fonts;
  width: 100%;
}



.left-column-input {
    display: flex;
    margin-bottom: $normal-margin;
    justify-content: space-between;
    height: $left-column-input-height;
}

.input-form {
  font-family: $application-fonts;
}

.not-valid {
  background-color: $not-valid-background-color;
}

.input-text {
  margin-right: $normal-margin;
  align-self: flex-start;
  white-space: nowrap;
  line-height: $input-size;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  min-width: $input-wrapper-min-width;
}
