@import 'style-constants';
$main-window-min-width: 440px;

.main-window {
  background-color: $main-window-background-color;
  padding: $normal-margin $doubled-margin;
  min-width: $main-window-min-width;
  text-align: center;
}

.confirmation-information {
  height: $input-size;
  width: 100%;
}
