@import 'style-constants';
$message-textarea-width: 100px;
$message-textarea-height: 100px;
$message-label-height: 130px;

@media screen and (max-width: $application-smartphone-size) {
  .message-label {
    margin-left: 0;
    flex-direction: column;
  }
}

.message {
  @include clear-input-style();
  max-height: $message-textarea-height;
  height: $message-textarea-width;
  resize: none;
  width: 100%;
  align-self: baseline;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.message-label {
  flex-direction: row;
  margin-left: $doubled-margin;
  height: $message-label-height;
}

@media screen and (max-width: $application-smartphone-size) {
  .message-label {
    margin-left: 0;
    flex-direction: column;
  }
}