$application-fonts: Consolas, Courer New, DialogInput;
$application-fonts-size: 15px;
$application-smartphone-size: 800px;
$error-font-size: 12px;
$normal-margin: 8px;
$doubled-margin: $normal-margin*2;
$error-message-color: #fa3434;
$white-color: #ffffff;
$not-valid-background-color: #ffdddd;
$input-size: 24px;
$main-window-background-color: #3694ba80;
@mixin clear-input-style() {
  border-color: $white-color;
  border-style: none;
  font-size: $application-fonts-size;
}
