@import 'style-constants';
$submit-button-width: 100px;

.submit-button {
  width: $submit-button-width;
  height: $input-size;
  background-color: $white-color;
  align-self: flex-end;
  border-style: none;
  font-family: $application-fonts;
  font-size: $application-fonts-size;
  border-color: $white-color;
  margin: $normal-margin;
  margin-top: $doubled-margin;
}