@import 'style-constants';
@media screen and (max-width: $application-smartphone-size) {
  .wrapper {
    flex-direction: column;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  flex-direction: row;
}
